@model MacosApp.Web.Models.ReportViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditReport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LabourId" />
            <input type="hidden" asp-for="Id" />
            
            <partial name="_Report"/>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="DetailsLabour" asp-route-id="@Model.LabourId" class="btn btn-success">Back to Labour</a>
            </div>
        </form>
    </div>
</div>
